<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Infrastructure</title>

<link href="./components/infrastructure/deps/maplibre-gl.css" rel="stylesheet"/>
<link href="./components/infrastructure/infrastructure.css" rel="stylesheet"/>


<body style="overflow:hidden">

<div class="map" id="map"></div>
<div class="map-overlay" id="mapLegend">
</div>

<div class="infrastructureTooltip" id="infrastructureTooltip">
    <ul id="infrastructureTooltipList">
        <li id="kilometerPoint"></li>
        <li id="risingOrFalling"></li>
    </ul>
</div>

</body>

</html>
