<div id="stationDetail" class="station-detail hidden">
    <div id="stationDetailName" class="station-detail-name"></div>
    <div class="station-detail-routes">
        <div class="wrap-collapsible">
            <input id="collapsible" class="collapsible-toggle hidden" type="checkbox">
            <label for="collapsible" class="collapsible-toggle">Station Routes</label>
            <div class="collapsible-content">
                <div id="stationRouteCollapsibleContent" class="content-inner"></div>
            </div>
        </div>
    </div>
    <div class="station-detail-signal-routes">
        <div class="wrap-collapsible">
            <input id="ssrCollapsible" class="collapsible-toggle hidden" type="checkbox">
            <label for="ssrCollapsible" class="collapsible-toggle">Interlocking Routes</label>
            <div class="collapsible-content">
                <div id="signalStationRouteCollapsibleContent" class="content-inner"></div>
            </div>
        </div>
    </div>
</div>
