<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>OrderingGraph</title>
    <link href="./components/ordering_graph/ordering_graph.css" rel="stylesheet" />
</head>

<body style="overflow:hidden">
    <div id="sigma-container" style="height: 100%;"></div>
    <div id="menu">
        <input type="checkbox" id="menu-enable">
    </div>
    <div id="search">
        <div class="row pad">
            <label class="label">Train ID</label>
        </div>
        <div class="row">
            <input class="text-input" type="number" id="search-input" name="search-input" min="0"
                placeholder="Enter Train ID" />
        </div>
        <div class="row" id="warning">
            <small id="message">Train ID not found.</small>
        </div>
        <div class="row pad">
            <label class="label">Neighborhood</label>
        </div>
        <div class="row">
            <div style="width:90%;">
                <input type="range" id="neighbor-input" value="0" min="0" max="5">
            </div>
            <div style="width: 10%; margin:auto;">
                <div id="output">0</div>
            </div>
        </div>
        <div id="route-row" style="display: none;">
            <div class="row pad">
                <label class="label">Route ID</label>
            </div>
            <div class="row">
                <select class="text-input" id="route-input"></select>
            </div>
        </div>
        <div class="row pad">
            <label class="label">Highlight Neighbors</label>
        </div>
        <div class="row">
            <input type="checkbox" id="node-enable" style="margin-left: 0;">
        </div>
        <div class="row pad">
            <label class="label">Unsafe Mode</label>
        </div>
        <div class="row">
            <input type="checkbox" id="unsafe-enable" style="margin-left: 0;">
        </div>
        <div class="row pad">
            <label class="label">X-Y-Ratio</label>
        </div>
        <div class="row">
            <input type="range" id="Scaling-input" value="14" min="2" max="30">
        </div>

    </div>
</body>

</html>