#sigma-container {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
#search {
    position: absolute;
    margin: 5px;
    right: 1em;
    top: 1em;
    width: auto;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    background-color: #f5f5f5;
    padding: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: inherit;
}

.row {
    display: flex;
}
#warning {
    display: none;
}
#message {
    color:rgb(167, 11, 11);
}
.pad {
    margin-top: 10px;
}
.text-input {
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
}
.has-error {
    border-color: rgb(167, 11, 11);
    outline: none;
}

#neighbor-input, #Scaling-input {
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
}

#neighbor-input {
    width: 90%;
}

#neighbor-value {
    width: 10%;
    padding: 4px 4px;
    margin: 8px 0;
}

.label {
    color:#747474;
}