<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Exclusion</title>

<body>

<div id="exclusion-sets" class="exclusion-sets">
    <div id="es1" class="exclusion-set">
        <div class="wrap-collapsible">
            <input id="es1-collapsible" class="collapsible-toggle hidden" type="checkbox">
            <label for="es1-collapsible" class="collapsible-toggle">Set 1</label>
            <div id="es1-content" class="collapsible-content">
                <div id="set-1-content" class="content-inner">
                    <label class="matter-switch exclusion-set-interlocking-route">
                        <input type="checkbox">
                        <span>TEST</span>
                    </label>
                    <label class="matter-switch exclusion-set-interlocking-route">
                        <input type="checkbox">
                        <span>TEST</span>
                    </label>

                </div>
            </div>
        </div>

        <label class="matter-switch">
            <input type="checkbox" value="test">
            <span></span>
        </label>
    </div>

    <div id="es2" class="exclusion-set">
        <div id="es2-collapsible" class="wrap-collapsible">
            <label for="es1-collapsible" class="collapsible-toggle">Set 1</label>
            <div class="collapsible-content">
                <div id="set-2-content" class="content-inner"></div>
            </div>
        </div>

        <label class="matter-switch">
            <input type="checkbox" value="test">
            <span></span>
        </label>
    </div>

</div>


</body>

</html>
