/.vs
/.idea
/*build*
/deps
/.clang-tidy
*.zip
*.tar.gz
*.tar.zst
/pkg
.pkg.lock
.pkg.mutex
/CMakeSettings.json
/.clangd
/.cache
/em_cache
/compile_commands.json
resources/infrastructure/de_iss
resources/de_iss
resources/timetable/de_kss
resources/de_kss
resources/osm
resources/search_indices
web/client/dist/
web/client/coverage/
web/client/node_modules/
*.vitest/

# Ignore the file produced by cmake
test/include/test/file_paths.h