/.vs
/.idea
/*build*
/deps
/.clang-tidy
*.zip
*.tar.gz
*.tar.zst
/pkg
.pkg.lock
.pkg.mutex
/CMakeSettings.json
resources/infrastructure/de_iss
resources/timetable/de_kss

# Ignore the file produced by cmake
test/include/test/file_paths.h
