/* stylelint-disable */
:root {
    --select-width: 350px;
}

.material-select {
    font-family: var(--main-font-family);
    position: relative;
    width: var(--select-width);
}

.material-select-text {
    position: relative;
    font-family: inherit;
    background-color: var(--dialog-color);
    color: var(--text-color);
    width: var(--select-width);
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: none;
    border-bottom: var(--border-width) solid var(--border-color);
}

.material-select-text:hover {
    background: var(--element-color);
}

/* Remove focus */
.material-select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,0, 0);
}

/* Use custom arrow */
.material-select .material-select-text {
    appearance: none;
    -webkit-appearance:none
}

.material-select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--icon-color);
    pointer-events: none;
}

/* LABEL ======================================= */
.material-select-label {
    width: var(--select-width);
    color: var(--hint-text-color);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
    padding-left: 10px;
}

/* active state */
.material-select-text:focus ~ .material-select-label, .material-select-text:valid ~ .material-select-label {
    color: var(--highlight-color);
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}

/* BOTTOM BARS ================================= */
.material-select-bar {
    position: relative;
    display: block;
    width: var(--select-width);
}

.material-select-bar:before, .material-select-bar:after {
    content: '';
    height: var(--border-width);
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--highlight-color);
    transition: 0.2s ease all;
}

.material-select-bar:before {
    left: 50%;
}

.material-select-bar:after {
    right: 50%;
}

/* active state */
.material-select-text:focus ~ .material-select-bar:before, .material-select-text:focus ~ .material-select-bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.material-select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}