#simWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#simDivider {
    border-right: 1px solid #DEDEDE;
}

#toolTip {
    display: none;
    left: 0;
    top: 0;
    background: lightsteelblue;
    border: 2px;
    border-radius: 5px;
}