.disruption-detail {
    margin-top: 10px;

    background: transparent;
    color: #777;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.2s ease;
    flex-direction: column;
    visibility: visible;
}

.disruption-detail.hidden {
    left: calc(0px - calc(var(--overlay-width) + var(--overlay-padding-left)));
}
