:root {
    --overlay-width: 450px;
    --overlay-padding-left: 20px;
    --overlay-padding-top: 50px;

    --border-radius: 3px;
    --border-width: 2px;

    --main-font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    --text-color: rgba(0, 0, 0, 0.87);
    --secondary-text-color: rgba(0, 0, 0, 0.54);
    --hint-text-color: rgba(0, 0, 0, 0.38);

    --border-color: rgba(0, 0, 0, 0.12);
    --icon-color: rgba(0, 0, 0, 0.38);

    --highlight-color: rgb(33, 150, 243);

    --background-color: #e0e0e0;
    --overlay-color: #f5f5f5;
    --element-color: #fafafa;
    --dialog-color: #ffffff;

    --data-select-width: 250px;
}

.overlay-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-left: var(--overlay-padding-left);
    padding-top: var(--overlay-padding-top);
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease;
    pointer-events: none;
}

.overlay-container.hidden {
    left: calc(0px - calc(var(--overlay-width) + var(--overlay-padding-left)));
}

.overlay {
    z-index: 10;
    background-color: var(--overlay-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    border-top-right-radius: 0;
    transition: all .4s ease;
    width: var(--overlay-width);
    flex: 0 0 auto;
    order: 1;
    height: 95%;
    position: relative;
}

.overlay-container.hidden .overlay {
    box-shadow: unset;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: auto;
    position: relative;
}

.overlay-tabs {
    z-index: 10;
    order: 2;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
}

.overlay-toggle-button {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.sub-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8em;
    width: calc(100% - 1.6em);
    height: calc(100% - 1.6em);
    transition: all .2s ease;
    pointer-events: auto;
    z-index: 20;

    border-radius: var(--border-radius);
}

.sub-overlay.hidden {
    left: calc(0px - calc(var(--overlay-width) + var(--overlay-padding-left)));
}

.sub-overlay-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: inherit;
    background: var(--overlay-color);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23), 0 -2px 6px rgba(0, 0, 0, 0.23);
}

.sub-overlay-close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
    color: var(--icon-color);
}

.sub-overlay-close i {
    cursor: pointer;
}

.window-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 94%;
    justify-content: space-around;
    padding: 3%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.window-button {
    width: 50%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.data-selects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 94%;
    justify-content: space-around;
    padding: 3%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.data-select {
    margin-top: 2.2em;
    margin-bottom: 2.2em;
}

/*  ============= Station Detail ============= */

.sub-overlay-tab-button {
    width: 30px;
    height: 40px;
    margin-top: 10px;
    background: var(--dialog-color);
    color: var(--secondary-text-color);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.2s ease;
}

.sub-overlay-tab-button.enabled {
    color: white;
    background: var(--highlight-color);
}

.station-detail {
    margin-top: 10px;

    background: transparent;
    color: #777;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    opacity: 1;
    transition: all 0.2s ease;
    flex-direction: column;
    visibility: visible;
}

.station-detail.hidden {
    left: calc(0px - calc(var(--overlay-width) + var(--overlay-padding-left)));
}

.station-detail-name {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    flex-direction: column;
}

.station-detail-routes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4em;
}

.station-detail-route {
    width: calc(100% - 1em);
    background: var(--dialog-color);
    border: 0.4em solid var(--dialog-color);
}

.station-detail-route:nth-child(even) {
    background: var(--overlay-color);
    border: 0.4em solid var(--overlay-color);
    border-right: 0;
}

.station-detail-signal-routes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4em;
}

.station-detail-signal-route {
    width: calc(100% - 1em);
    background: var(--dialog-color);
    border: 0.4em solid var(--dialog-color);
}

.station-detail-signal-route:nth-child(even) {
    background: var(--overlay-color);
    border: 0.4em solid var(--overlay-color);
    border-right: 0;
}

.exclusion-sets {
    overflow: scroll;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.exclusion-set {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: calc(100% - 1em);
    background: var(--dialog-color);
    border: 0.4em solid var(--dialog-color);
}

.exclusion-set-interlocking-route {
    width: calc(100% - 1em);
    background: var(--dialog-color);
    border: 0.4em solid var(--dialog-color);
}